<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
  <ion-header collapse="condense"></ion-header>
  <ion-content [fullscreen]="true" class="background">

    
      <!-- <ion-card-content> -->
      <div *ngFor="let recipe of recipes">
        <ion-card>
          <img src="assets/cozinhando-1.png" />
          <ion-card-header>
            <!-- <ion-card-subtitle>Receita</ion-card-subtitle> -->
            <ion-card-title expand="block" (click)="setOpen(true, recipe)">{{recipe.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tempo de preparo: {{recipe.preparationTime}}
          </ion-card-content>
        </ion-card>
      </div>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              
              <ion-title>{{recipeShow.name}}</ion-title>
              <ion-buttons slot="end">                
              <ion-button (click)="setOpen(false, recipeShow)">Close</ion-button>
              </ion-buttons>

            </ion-toolbar>
          </ion-header>
        
          <ion-content class="ion-padding">
            <!-- <ion-item>
              <ion-label class="color-black center pre-line" size = "3">{{recipeShow.name}}</ion-label>
            </ion-item> -->
            
            <ion-item>
              <ion-label class="color-black center bold" size = "3">INGREDIENTES:</ion-label>
            </ion-item>
            <ion-item *ngFor="let ingredient of recipeShow.ingredients">
              <ion-label class="pre-line">
                <!-- {{ingredient.ingredientDescription}} -->
                ingredientDescription
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="bold pre-line">TEMPO DE PREPARO:</ion-label>                           
              <ion-label class="color-black center pre-line" size = "3">{{recipeShow.preparationTime}}</ion-label>
            </ion-item>
            <!-- <ion-item>
              <ion-label class="color-black center pre-line" size = "3">{{recipeShow.preparationTime}}</ion-label>
            </ion-item> -->
            

            <ion-item>
              <ion-label class="bold">MODO DE PREPARO:</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="color-black center pre-line" size = "3">{{recipeShow.preparationMode}}</ion-label>
            </ion-item>              
          </ion-content>
       
        </ng-template>
      </ion-modal>
    

              
    
    
              

              
   <!--
    <ion-card-content>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 4</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 5</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 6</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 7</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-content>
      -->



<!-- 
</ion-content> -->
