ion-content.background{
    --background: #ff0000 url('../../assets/cozinhando-1-opacidade-50.png') no-repeat center center / cover;
}

.color-white {
    color: #ffffff;
}

.color-red {
    color: #ff0000;
}

.align-center {
    text-align: center;
}


ion-label.size {
    font-size: 2em;
    font-weight: bold;
   
     
    
}

ion-button {
    --background: #ffffff;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
   
    
}

ion-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

 ng-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

 ion-list{
    width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #ffffff 1px; 
	box-shadow: -6px 8px 32px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: -6px 8px 32px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: -6px 8px 32px rgba(0, 0, 0, 0.5)  ; 
    overflow: visible;
    position:absolute;
    width: 100%;
    border-bottom-width: 150px;
	 
 }

 ion-item{
    width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: -6px 8px 32px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: -6px 8px 32px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: -6px 8px 32px rgba(0, 0, 0, 0.5)  ; 
 }

 ion-card-content {
    padding-left: 0px;
    padding-right: 0px;
 }

 ion-col {
    padding-left: 0px;
    padding-right: 0px;
 }

 ion-grid {
    padding-left: 0px;
    padding-right: 0px;
 }