<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense"></ion-header>
  <ion-content [fullscreen]="true" class="background">
    <ion-card-content>
       <ion-grid style="vertical-align: middle;">
        <ion-row>
          <ion-col>
            <div class="align-midle">
              <ion-label class="color-white align-midle size">Escolha seus ingredientes:</ion-label>
            </div>
          </ion-col>
        </ion-row>
          <ion-item>
            <ion-label>Doce</ion-label>
            <ion-toggle [(ngModel)]="doce" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Salgado</ion-label>
            <ion-toggle [(ngModel)]="salgado" checked></ion-toggle>
          </ion-item>
         <ion-row>
          <ion-col>
            <ion-header translucent>
              <ion-toolbar>
                <ion-title>Pesquisar Ingrediente</ion-title>
              </ion-toolbar>
              <ion-toolbar>
                <ion-searchbar placeholder="Digite o ingrediente" [(ngModel)]="queryText" (ionInput)="filterIngredient($event)" clearInput></ion-searchbar>
              </ion-toolbar>
            </ion-header>
            <ion-list>
              <div class="align-left">
                
                <ion-item no-lines *ngFor="let ingredient of listIngredients">
                <ion-label class="color-black align-left size">{{ingredient.name}}</ion-label>
                <ion-checkbox></ion-checkbox>  
                </ion-item>                           
                           
               </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div style="text-align: center;">
              <ion-button shape="round" expand="block">
                <ion-label class="color-red size">Buscar Receita</ion-label>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-content>