<ion-tabs color="medium">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="lastest-recipes" class="lastest-recipes">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="search" class="search">
      <ion-icon name="search-sharp"></ion-icon>
      <!-- <ion-label>Buscar</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="recipes-found" class="recipes-found">
      <ion-icon name="star"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>