<ion-tabs color="medium" (ionTabsWillChange)="transition($event)">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search-sharp"></ion-icon>
      <!-- <ion-label>Buscar</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="star"></ion-icon>
      <!-- <ion-label>Favoritos</ion-label> -->
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>





<!-- <ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <img src="assets/logo-homefood.png"/>

      <ion-buttons slot="end">
        <ion-button id="search-button">
          <ion-icon name="search-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button id="nested-button">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="tab1">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-app>


<ion-popover trigger="nested-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">
          <ion-label>Option 1</ion-label>
        </ion-item>
        <ion-item [button]="true" [detail]="false">
          <ion-label>Option 2</ion-label>
        </ion-item>
        <ion-item [button]="true" [detail]="true" id="nested-trigger">
          <ion-label>Option 3</ion-label>
        </ion-item>
        
        <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
          <ng-template>
            <ion-content>
              <ion-item [button]="true">
                <ion-label>Nested Option</ion-label>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover> -->

<!-- <ion-grid>
  <ion-row>
    <ion-col size="6">
      <h1>Logo HomeFood</h1>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="goInitialPage()">
        <ion-icon name="search-outline" (click)="goInitialPage()"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button tab="tab1">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Tab 1</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab2">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Tab 2</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab3">
            <ion-icon name="square"></ion-icon>
            <ion-label>Tab 3</ion-label>
          </ion-tab-button>

        </ion-tab-bar>
      </ion-tabs>
    </ion-col>
  </ion-row>
</ion-grid> -->
  <!-- <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-row>
        <ion-col size="6">
          <h1>Logo HomeFood</h1>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="goInitialPage()">
            <ion-icon name="search-outline" (click)="goInitialPage()"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-tab-button tab="tab1">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Tab 1</ion-label>
          </ion-tab-button>
        </ion-col>
    
        <ion-col size="4">
          <ion-tab-button tab="tab2">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Tab 2</ion-label>
          </ion-tab-button>
        </ion-col>

        <ion-col size="4">
          <ion-tab-button tab="tab3">
            <ion-icon name="square"></ion-icon>
            <ion-label>Tab 3</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-tab-bar>
  </ion-tabs>
</ion-grid> -->


<!-- <ion-grid>
  <ion-item-divider>
    <ion-row>
      <ion-col size="6">
        <h1>Logo HomeFood</h1>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="goInitialPage()">
          <ion-icon name="search-outline" (click)="goInitialPage()"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-item-divider>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-item-divider>
        <ion-row>
          <ion-col size="6">
            <h1>Logo HomeFood</h1>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="goInitialPage()">
              <ion-icon name="search-outline" (click)="goInitialPage()"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-row>
        <ion-col size="4">
          <ion-tab-button tab="tab1">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Tab 1</ion-label>
          </ion-tab-button>
        </ion-col>
    
        <ion-col size="4">
          <ion-tab-button tab="tab2">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Tab 2</ion-label>
          </ion-tab-button>
        </ion-col>

        <ion-col size="4">
          <ion-tab-button tab="tab3">
            <ion-icon name="square"></ion-icon>
            <ion-label>Tab 3</ion-label>
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-tab-bar>
  </ion-tabs>
</ion-grid> -->

<!-- <ion-tabs>
  <ion-tab-bar slot="top">
    <h1>Logo HomeFood</h1>
    <ion-button (click)="goInitialPage()">
      <ion-icon name="search-outline" (click)="goInitialPage()"></ion-icon>
    </ion-button>
    <br>
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> -->
