<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense"></ion-header>
  <ion-content [fullscreen]="true" class="background">
    <ion-card-content>
      <ion-grid style="vertical-align: middle;">
        <ion-row>
          <ion-col>
            <div class="align-center">
              <ion-label class="color-white align-center size">ME FALE AQUI,</ion-label>
              <ion-label class="color-white align-center size">VOCÊ QUER UM PRATO:</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="text-align: center;">
              <ion-button shape="round" expand="block">
                <ion-label class="color-red size">DOCE</ion-label>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="text-align: center;">
                <ion-label class="color-white size">OU</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="text-align: center;">
              <ion-button shape="round" expand="block">
                <ion-label class="color-red size">SALGADO</ion-label>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-content>