ion-content.background{
    --background: linear-gradient(to right, #222222, black) no-repeat center center / cover !important;
}

.color-white {
    color: #ffffff;
}

.color-red {
    color: #ff0000;
}

.align-center {
    text-align: center;
}

ion-label.size {
    font-size: 2em;
    font-weight: bold;
}

ion-button {
    --background: #ffffff;
    height: 60px;
}

ion-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}