<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
  <ion-header collapse="condense"></ion-header>
  <ion-content [fullscreen]="true" class="background">
    <ion-card-content>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 4</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 5</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 6</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/cozinhando-1.png" />
        <ion-card-header>
          <ion-card-subtitle>Receita</ion-card-subtitle>
          <ion-card-title>Arroz com feijão 7</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Delicioso arroz com feijão tradicional.
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-content>




<!-- </ion-content> -->
