<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense"></ion-header>
  <ion-content [fullscreen]="true" class="background">
    <ion-card-content>
      <ion-grid style="vertical-align: middle;">
        <ion-row>
          <ion-col>
            <div class="align-center">
              <!-- <ion-label class="color-white align-center size">ME FALE AQUI,</ion-label>
              <ion-label class="color-white align-center size">VOCÊ QUER UM PRATO:</ion-label> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-content>