.logo_transparente {
    max-width: 49px;
    position: absolute;
    top: 0px;
}

ion-toolbar {
    --background: linear-gradient(to right, black, #222222);
}

#nested-button,
#search-button {
    color: white;
}